/* For use in src/lib/core/theming/_palette.scss */
$mat-ocean: (
    50 : #e5eff1,
    100 : #bfd7dc,
    200 : #94bcc4,
    300 : #69a1ac,
    400 : #498c9b,
    500 : #297889,
    600 : #247081,
    700 : #1f6576,
    800 : #195b6c,
    900 : #0f4859,
    A100 : #90e3ff,
    A200 : #5dd6ff,
    A400 : #2ac9ff,
    A700 : #10c2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tangerine: (
    50 : #fdf4eb,
    100 : #fbe5ce,
    200 : #f8d3ae,
    300 : #f5c18d,
    400 : #f2b474,
    500 : #f0a75c,
    600 : #ee9f54,
    700 : #ec964a,
    800 : #e98c41,
    900 : #e57c30,
    A100 : #ffffff,
    A200 : #fff9f5,
    A400 : #ffdac2,
    A700 : #ffcba8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-winered: (
    50 : #f8e7e7,
    100 : #ecc2c2,
    200 : #e09a9a,
    300 : #d47272,
    400 : #ca5353,
    500 : #c13535,
    600 : #bb3030,
    700 : #b32828,
    800 : #ab2222,
    900 : #9e1616,
    A100 : #ffd2d2,
    A200 : #ff9f9f,
    A400 : #ff6c6c,
    A700 : #ff5252,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

