@import '../styles/variables';
@import '~@angular/material/theming';

.mat-toolbar {
  @include mat-elevation(2);
}

.mat-card {
    margin: 24px;
}

div {
  background-color: red;
  border: 1px solid black;
  padding: 16px;
  display:inline-block;
  width: 240px;
}